table, td {
	border-style:solid;
	border-width: 2px;
	border-color: black;
	width:777px;
}

table{
	border-collapse: collapse;
}

#photo1{
	float:right;
	padding:5px;
}

#photo2{
	float:right;
	padding:5px;
	border-style: solid;
	border: 1px;
}

#photo3{
	float:right;
	padding:5px;
}

#photo4{
	float:right;
	padding:5px;
}

.left{
	padding-right: 15px;
	border-right:2px black;
	column-width: 519px;
}

.right{
	padding-left:30px;
	width: 255px;
}

td{
	padding:20px;
}

h1{
	font: sans-serif;
	font-size: 24pt;
	color: #000000;
	}

h2{
	font-size: 24pt;
	font: sans-serif;
	color: #000000;
}

p{
	font-size: 12pt;
	font: sans-serif;
	color: #000000;
	padding-right:15px;
}

h3{
	font-size: 14pt;
	font: sans-serif;
	color: #000000;
	padding-left: 30px;
}

h4{
	font-size: 14pt;
	font: sans-serif;
	color: #000000;
	padding-left: 30px;
}

p{
	font:serif;
	font-size: 12pt;
	color:#5a5a5a;
	padding-left: 30px;
}
